$primary: #ffa500;
$secondary: #6d6d6d;
$danger: #dd3d3d;
$success: #008000;
$info: #6495ed;
$white: #fff;
$black: #111;
$light-gray: #f0f0f0;
$light-primary: #fff8ee;
$gray: #95979d;

:root {
	--primary: #ffa500;
	--light-primary: #fff8ee;
	--secondary: #6d6d6d;
	--danger: #dd3d3d;
	--success: #008000;
	--info: #6495ed;
	--white: #fff;
	--black: #111;
	--gray: #95979d;
	--light-gray: #f0f0f0;
}
